#wrapper{
    width: 1000px;
    margin: 0px auto;
}

body{
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    background: #F4B1B1;
    color: #333333;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', sans-serif, Osaka;;
}

body i{
    font-family: ＭＳ Ｐゴシック,Osaka;
}

A:link{
    color: #8E81B0;
    text-decoration: none;
}

A:hover{
    opacity:  0.6;
    text-decoration: underline;
}

A:visited{
    color: #F08E4D;
}

.width180{
    width: 180px;
}

.width120{
    width: 120px;
}

#hiroba_header{
    text-align: left;
    margin: 5px 8px 5px 0px;
}

#hiroba_header a{
    text-decoration: none;
}

#hiroba_header a:hover{
    text-decoration: underline;
}

#counter{
    padding: 0px 0px 5px 0px;
}

#counter a{
    font-size: small;
    font-weight: bold;
    background: #;
    letter-spacing: 2px;
    padding-left: 2px; padding-right: 2px;
    margin: 0px 0px 5px 0px;
}

#counter a:link{
    color: #87C796;
    text-decoration: none;
}

#counter a:visited{
    color: #87C796;
    text-decoration: none;
}

#top{
    width: 100%;
}

#top div{
    float: left;
    width: 150px;
    display: block;
    font-size: 10pt;
    text-decoration: none;
}

#top span{
    margin: 0px;
    float: right;
    width: 100%;
    display: block;
    text-align: right;
    font-size: 10pt;
    text-decoration: none;
    color: 333333;
}

#top span a:link{
    color: #8E81B0;
}

#top span a:visited{
    color: #F08E4D;
}

.side_title,
#content-center .main_title{
    text-align: center;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', sans-serif, Osaka;
}

.side_title,
#content-center .moreLink{
    text-align: center;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', sans-serif, Osaka;
}

#title{
}

#title_out{
    height: 480px;
    background: ;
    position: static;
    clear: both;
    border: none #;
}

#img_area{
    text-align: center;
}

.title_text{
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    letter-spacing: .2em;
    color: #FFFFFF;
    font-family: HGP創英角ﾎﾟｯﾌﾟ体,Osaka,Arial Black,Helvetica Black;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}

.title_text a{
    text-decoration: none;
}

#global_navi{
}

#global_navi a:link,
#global_navi a:visited,
#global_navi a:active{
    display: block;
    text-decoration: none;
    font-size: 13px;
    height: 12px;
    padding: 5px;
    border: 1px solid #FFFFFF;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', sans-serif, Osaka;
    text-align: center;
    background: #7B5939;
    color: #FFFFFF;
}

#global_navi a:hover{
    background: #7B5939;
    color: #6B8E23;
}

#content-center{
    padding: 2px;
    margin: 2px auto;
    color: #666666;
    font-size: 12pt;
    vertical-align: top;
    background-color: #FFF6E9;
}

#content-center .cate_list{
    font-size: 10pt;
}

#content-center .dCate{
    font-size: 10pt;
}

#content-center .dTheme{
    font-size: 10pt;
}

.sideline_right{
    border-right: 1px solid #F08E4D;
}

.sideline_left{
    border-left: 1px solid #F08E4D;
}

#content-center a:link{
    color: #8D80BB;
}

#content-center a:visited{
    color: #F4B1B1;
}

#center-base{
    text-align: left ! important;
}

#center-base a:link{
    color: #8D80BB ! important;
}

#center-base a:visited{
    color: #F4B1B1 ! important;
}

#content-center .main_title{
    margin: 6px auto 14px;
    \width: 100%;
    w\idth: 97%;
    padding: 4px;
    font-size: 12pt;
    font-weight: normal;
    border-radius: 4px;
    border: none #;
    color: #87C796;
}

#content-center .moreLink{
    margin: 6px auto 14px;
    \width: 100%;
    w\idth: 97%;
    font-size: 12pt;
    font-weight: normal;
    border-radius: 4px;
    border: none #;
    color:  #F08E4D;
}

#content-center .moreLink a{
    display: block;
    padding: 4px;
    text-decoration: none;
}

#content-center .moreLink a:hover{
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: rgba(255,255,255,0.2);
    text-decoration: underline;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

 #content-center .moreLink a:hover{
    filter: progid:DXImageTransform.AlphaImageLoader(src='90')\9;
}

 #content-center .moreLink a:link{
    filter: progid:DXImageTransform.AlphaImageLoader(src='100')\9;
}

 #content-center .moreLink a:visited{
    filter: progid:DXImageTransform.AlphaImageLoader(src='100')\9;
}

#content-center .mainNavi{
    width: 100%;
}

#content-center .mainNavi:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

#content-center .mainNavi .mainNaviContents{
    float: left;
}

#content-center .mainNavi .mainNaviContents .main_title{
    width: 95% !important;
}

#content-center .mainNavi .mainNaviContents.mainNaviCenter{
    margin: 0 0.5% 0 0.5%;
}

#content-center .mainNavi .mainNaviContents.mainNaviCenter a{
    display: block;
    padding: 4px;
    text-decoration: none;
}

#content-center .mainNavi .mainNaviContents.mainNaviCenter a:hover{
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: rgba(255,255,255,0.2);
    text-decoration: underline;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

 #content-center .mainNavi .mainNaviContents.mainNaviCenter a:hover{
    filter: progid:DXImageTransform.AlphaImageLoader(src='90')\9;
}

 #content-center .mainNavi .mainNaviContents.mainNaviCenter a:link{
    filter: progid:DXImageTransform.AlphaImageLoader(src='100')\9;
}

 #content-center .mainNavi .mainNaviContents.mainNaviCenter a:visited{
    filter: progid:DXImageTransform.AlphaImageLoader(src='100')\9;
}

#content-center .mainNavi .mainNaviContents.mainNaviCenter .main_title{
    padding: 0;
}

#content-center .mainNavi .mainNaviLeft .main_title{
    padding: 0;
    overflow: hidden;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#content-center .mainNavi .mainNaviRight .main_title{
    padding: 0;
    overflow: hidden;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#content-center .mainNavi .mainNaviSide a{
    padding: 4px;
    display: block;
    text-decoration: none;
    overflow: hidden;
}

#content-center .mainNavi .mainNaviSide a:hover{
    filter: alpha(opacity=60);
    opacity: 0.6;
    background-color: rgba(255,255,255,0.2);
    text-decoration: underline;
}

 #content-center .mainNavi .mainNaviSide a:hover{
    filter: progid:DXImageTransform.AlphaImageLoader(src='90')\9;
}

 #content-center .mainNavi .mainNaviSide a:link{
    filter: progid:DXImageTransform.AlphaImageLoader(src='100')\9;
}

 #content-center .mainNavi .mainNaviSide a:visited{
    filter: progid:DXImageTransform.AlphaImageLoader(src='100')\9;
}

#content-center .main_title.main_title_bold{
    border: none;
    color:  #F08E4D;
    font-weight: bold;
    margin: 6px 0 14px;
    padding: 5px;
}

#content-center .main_title a:link{
    color: #87C796;
}

#content-center .moreLink a:link{
    color:  #F08E4D;
}

#content-center .main_title a:visited{
    color: #87C796;
}

#content-center .moreLink a:visited{
    color:  #F08E4D;
}

#content-center DIV.DIV{
    padding: 2px;
    margin: auto;
    text-align: left;
    width: 95%;
}

#content-center DIV.DIV.profile h3{
    font-size: 100%;
    margin: 0;
    font-weight: normal;
}

.wordWrap{
    word-wrap: break-word:;
    overflow: hidden;
    word-break: break-all;
}

#content-center .titleBar{
    margin: 0px;
    \width: 100%;
    w\idth: 97%;
    padding: 5px 5px 3px 5px;
    font-size: 12pt;
    line-height: 133%;
    text-align: left;
    font-weight: lighter;
    color:  #F08E4D;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    border-left: none #;
    border-top: none #;
    border-right: none #;
    border-bottom: 1px solid #F08E4D;
}

#content-center .titleBar h2{
    font-size: 100%;
    font-weight: normal;
}

#content .line_bg_diary{
    margin: 0px;
    padding: 0px;
    background-color: #;
}

#content-center .dTitle a:link,
#content-center .dTitle a:visited{
    color: #F08E4D;
}

#content-center .lo{
    margin: 0px;
    padding: 5px 5px 3px 5px;
    \width: 100%;
    w\idth: 97%;
    font-size: 12pt;
    text-align: left;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    border-left: none #;
    border-right: none #;
    border-bottom: none #;
    color: #333333;
}

#content-center .lo .dText{
    line-height: 1.7;
}

#content-center .lo ul.loList{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #7c7c7c;
}

#content-center .lo ul.loList li.loListItem{
    width: 100%;
    height: 100%;
    margin: 2px 1px;
    overflow: hidden;
    border-bottom: 1px dotted #F08E4D;
}

#content-center .lo ul.loList li.loListItem:last-child{
    border-bottom: none;
}

#content-center .lo ul.loList li.loListItem:after{
    content: '.';
    display: block;
    clear: both;
    height: 1px;
    visibility: hidden;
}

#content-center .lo ul.loList li.loListItem a{
    display: block;
}

#content-center .lo ul.loList li.loListItem a:link,
 #content-center .lo ul.loList li.loListItem a:visited,
 #content-center .lo ul.loList li.loListItem a:hover,
 #content-center .lo ul.loList li.loListItem a:active,
 #content-center .lo ul.loList li.loListItem a:focus{
    color: #686868;
}

#content-center .lo ul.loList li.loListItem a:hover{
    opacity: 0.6;
    filter: progid:DXImageTransform.AlphaImageLoader(src='60');
}

#content-center .lo ul.loList li.loListItem div.loListImg{
    float: left;
    width: 75px;
    height: 79px;
    margin: 0 10px;
}

#content-center .lo ul.loList li.loListItem div.loListFavoriteImg{
    float: left;
    width: 75px;
    height: 75px;
    margin: 5px 10px 0px 0px;
}

#content-center .lo ul.loList li.loListItem div.loListImg div.rBlogImgBox{
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 1px solid #cccccc;
    float: left;
    margin: 3px 5px 4px;
}

#content-center .lo ul.loList li.loListItem div.loListFavoriteImg div.rBlogImgBox{
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 1px solid #cccccc;
    float: left;
    margin: 0px;
}

#content-center .lo ul.loList li.loListItem div.loListImg div.rBlogImgBox p{
    margin: 0;
}

#content-center .lo ul.loList li.loListItem div.loListFavoriteImg div.rBlogImgBox p{
    margin: 0;
}

#content-center .lo ul.loList li.loListItem div.loListImg div.rBlogImgBox p img{
    position: absolute;
    border: none;
}

#content-center .lo ul.loList li.loListItem div.loListFavoriteImg div.rBlogImgBox p img{
    position: absolute;
    border: none;
}

#content-center .lo ul.loList li.loListItem div.loListImg div.rBlogImgBox span.rankIcon{
    display: inline-block;
    color: #ffffff;
    background: #333333;
    border-radius: bold;
    font-weight: 3px;
    min-width: 26px;
    text-align: center;
    text-margin-right: 6px;
    float: left;
    padding: 0 2px;
}

#content-center .lo ul.loList li.loListItem div.loListImg div.rBlogImgBox span.rankIcon.onImg{
    z-index: 100;
    position: absolute;
    left: 3px;
    top: 3px;
}

#content-center .lo ul.loList li.loListItem div.loListContents{
    float: left;
    width: 67%;
    height: 65px;
    padding: 5px 0;
}

#content-center .lo ul.loList li.loListItem div.loListContents h2.loListTtl{
    margin: 7px 0;
    font-size: 20px;
    white-space: nowrap;
    width: 612px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content-center .lo ul.loList li.loListItem a:hover div.loListContents h2.loListTtl{
    text-decoration: underline;
}

#content-center h2.loListTtlLeft{
    text-decoration: none !important;
}

#content-center .lo ul.loList li.loListItem div.loListContentsRight h2.loListTtl{
    margin: 2px 0 0 0;
    font-size: 16px;
}

#content-center .lo ul.loList li.loListItem div.loListContentsRight p.loListTxt{
    margin: 4px 0 8px 0;
    line-height: 1.8;
}

#content-center .lo ul.loList li.loListItem a:hover div.loListContentsRight h2.loListTtl{
    text-decoration: underline;
}

#content-center .lo ul.loList li.loListItem a:hover div.loListContentsLeft h2.loListTtl{
    text-decoration: underline;
}

#content-center .lo ul.loList li.loListItem div.loListContents p.loListTxt{
    margin: 0;
    font-size: 14px;
    color: #7c7c7c;
    width: 612px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content-center .lo ul.loList li.loListItem div.loListContentsCount p.loListDate{
    margin: 3px 0 10px;
}

#content-center .lo ul.loList li.loListItem div.loListContentsArticleList{
    margin: 0;
    font-size: 14px;
    color: #7c7c7c;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft{
    margin: 0;
    font-size: 14px;
    color: #7c7c7c;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    line-height: 1.8;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft h2.loListTtl{
    margin: 3px 0 1px 0;
    font-size: 16px;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft p.loListTtl a:hover{
    text-decoration: underline;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft p.loListTtl a{
    text-decoration: none;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft h2.loListTtl a:hover{
    text-decoration: underline;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft a{
    text-decoration: none;
}

#content-center .lo ul.loList li.loListItem div.loListContentsLeft a:hover{
    text-decoration: underline;
}

#content-center .lo ul.loList li.loListItem div.loListContentsRight{
    margin: 0px 20px 0 0;
    font-size: 14px;
    color: #7c7c7c;
    width: 356px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    word-wrap: break-word;
}

#content-center .lo ul.loList li.loListItem div.loListContentsCount{
    margin: 0;
    font-size: 12px;
    color: #7c7c7c;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#content-center .lo ul.loList li.loListItem div.loListInfo{
    float: left;
    width: 17%;
    margin: 13px 0;
    text-align: right;
    font-size: 12px;
}

#content-center .lo ul.loList li.loListItem div.loListInfo p{
    margin: 0;
    color: #7c7c7c;
    text-decoration: none;
}

#content-center .lo ul.loList li.loListItem div.loListInfo p.loListCmt{
    margin: 19px 0 0 0;
}

#content-center .lo ul.loList li.loListItem div.loListInfo p.loListAccess{
    margin: 19px 0 0 0;
}

#content-center .lo ul.loList li.loListItem div.loListInfo p.loListAccess span.label{
    background: none repeat scroll 0 0 #333333;
    border-radius: 2px;
    color: #ffffff;
    padding: 3px 4px;
}

#content-center .lo_two{
    margin: 0px;
    padding: 5px 5px 3px 5px;
    \width: 100%;
    w\idth: 97%;
    font-size: 12pt;
    text-align: left;
    border-radius: 4px;
    border: none #;
    color: #333333;
}

#content-center div.v_tag{
    text-align: center;
}

span.furima td{
    text-align: left;
}

.main_acolor,
#content-center div a:link{
    color: #8D80BB;
}

.main_vcolor,
#content-center div a:visited{
    color: #F4B1B1;
}

#diarydate{
    padding: 4px;
    margin-bottom: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color:  #F08E4D;
    font-size: 10pt;
}

#free{
    color:  #666666;
    margin: 10px;
    font-size: 12pt;
}

#free *{
    position: static ! important;
}

#free a:link{
    color:  #8D80BB ! important;
}

#free a:visited{
    color:  #F4B1B1 ! important;
}

#imgEntryBox a{
    text-decoration: none;
}

#imgEntryBox a:hover{
    text-decoration: underline;
}

#imgEntryBox a:hover img{
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#featureCategory{
    margin-top: 10px;
    padding: 10px;
    border-top: none #;
}

#featureCategory a{
    text-decoration: none;
}

#featureCategory a:hover{
    text-decoration: underline;
}

#featureCategory div.dTitle{
    color: #555555;
    font-weight: bold;
}

#featureCategory ul{
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}

#featureCategory li{
    clear: both;
    overflow: hidden;
}

#featureCategory p.arrow{
    float: left;
    width: 3%;
    height: 0px;
    border-left: 5px solid #333;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin: 15px 0;
}

#featureCategory p.content{
    float: left;
    width: 95%;
    margin: 10px 0;
}

#featureCategory a.title{
    padding-right: 20px;
    display: inline-block;
    max-width: 320px;
}

#featureCategory span.date{
    padding-right: 10px;
}

#content-center p.pagerArea a{
    border: 1px solid #FFF6E9;
}

#content-center p.pagerArea a:hover,
 #content-center p.pagerArea a:active,
 #content-center p.pagerArea a:focus{
    color: #87C796;
    border: 1px solid #87C796;
    background: #FFF6E9;
}

div.listBottom div.listBottomContents{
    color: #333333;
}

div.listTabDiaryList h2.listTitle{
    margin-left: 23px;
    color: #888888;
    font-size: 22px;
}

#content-side{
    vertical-align: top;
    margin: 0px auto;
    padding: 8px;
    font-size: 10pt;
    background-color:  #FFF6E9;
}

.sideline_right{
    width: 330px;
}

#content-side5_r{
    margin: 0px auto;
    padding: 8px;
    font-size: 10pt;
    background-color:  #FFF6E9;
}

#content-side5_l{
    margin: 0px auto;
    padding: 8px;
    font-size: 10pt;
    background-color:  #FFF6E9;
}

.side_title{
    font-weight: normal;
    font-size: 10pt;
    clear: both;
    \width: 100%;
    margin: 0px;
    padding: 5px 5px 3px 5px;
    line-height: 133%;
    letter-spacing: 3px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #F08E4D;
    color:  #F08E4D;
}

.side_button{
    border-radius: 3px;
    margin: auto;
    max-width: 170px;
    padding: 5px;
}

.side_button a{
    color:  #333333 !important;
}

.description{
    padding: 0 0 10px 0;
}

.side_line{
    margin: 0px;
    padding: 0px;
    background-color:  #;
}

.side_title a:link{
    color:  #F08E4D;
}

.side_title a:visited{
    color:  #F08E4D;
}

#content-side .side_lo,
#content-side5_l .side_lo,
#content-side5_r .side_lo{
    \width: 100%;
    margin: 0px 0px 8px 0px;
    padding: 5px;
    text-align: left;
    font-size: 9pt;
    line-height: 150%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    color:  #333333;
}

.sub_acolor,
#content-side .side_lo a:link,
#content-side5_l .side_lo a:link,
#content-side5_r .side_lo a:link{
    color:  #8D80BB;
}

.sub_vcolor,
#content-side .side_lo a:visited,
#content-side5_l .side_lo a:visited,
#content-side5_r .side_lo a:visited{
    color:  #F4B1B1;
}

.side_contents{
    margin: 0;
    display: inline;
    font-size: 100%;
    line-height: 150%;
    font-weight: normal;
}

.calender_navi{
    font-size: 8px;
}

.calendar a:link{
    font-weight: bold;
}

.imgEntry{
    margin: 0 auto 15px;
    padding: 25px 0;
    display: inline-block;
}

.imgEntry .list{
    float: left;
    text-align: center;
    width: 33%;
    margin: 0 0 25px 0;
}

.imgEntry .list .img{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: #666666 1px solid;
    padding: 3px;
    margin: 0 0 5px;
    background: #FFFFFF;
}

.imgEntry .list img{
    border: none;
}

.imgEntry dl{
    width: 106px;
    margin: 0 auto;
    text-align: left;
}

.imgEntry dl dd.imageTit{
    word-wrap: break-word;
}

.imgEntry dl dd{
    margin: 0;
    padding: 0;
    clear: both;
}

.sideMotionWidget .side_title{
    border: none !important;
}

.sideMotionWidget .side_lo{
    border: none !important;
    background: none !important;
}


